.app {
  min-height: 100vh;
  background-color: #ebecf0;
  display: flex;
}

.left-side {
  overflow-y: auto;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 50%;
  flex: 1;
}

.right-side {
  flex: 1;
  max-width: 50%;
}

.right-side,
.left-side {
  padding: 2vw 4vw;
}

@media (max-width: 650px) {
  .app {
    flex-direction: column;
  }

  .left-side,
  .right-side {
    max-width: 100%;
  }

  .left-side {
    overflow: visible;
    max-height: none;
  }
}
