.preview-heading p {
  font-size: 16px;
  color: #717182;
  margin-bottom: 24px;
}

.cv-preview {
  background-color: #ffffff;
  border-radius: 0.625rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 24px;
  min-height: 83vh;
}

p {
  color: oklch(0.145 0 0);
  font-size: 24px;
}

.container h1 {
  font-size: 32px;
  margin-bottom: 0;
}

.container p {
  font-weight: 400;
}

.holder {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* .container {
  margin-bottom: 8px;
} */

.line {
  width: 60%;
  height: 2px;
  background-color: black;
  margin: 16px 0;
}
