.preview-heading p {
  font-size: 16px;
  color: #717182;
  margin-bottom: 24px;
}

.preview-heading {
  display: flex;
  justify-content: space-between;
}

.preview-heading button {
  background-color: #9bf69d;
  color: #ffffff;
  border-radius: 0.625rem;
  height: 60px;
  padding: 16px;
  display: flex;
  align-items: center;
}

.cv-preview {
  background-color: #ffffff;
  border-radius: 0.625rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 24px;
  min-height: 83vh;
}

p {
  color: oklch(0.145 0 0);
  font-size: 24px;
}

.container h1 {
  font-size: 32px;
  margin-bottom: 0;
}

.container p {
  font-weight: 400;
}

.holder {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.line {
  width: 60%;
  height: 2px;
  background-color: black;
  margin: 16px 0;
}

@media (max-width: 424px) {
  .preview-heading button {
    margin-bottom: 16px;
    max-width: 35vw;
  }
  .preview-heading {
    display: flex;
    flex-direction: column;
  }

  p.preview-para {
    margin-bottom: 8px;
  }
}

@media print {
  body * {
    visibility: hidden;
  }

  .cv-preview,
  .cv-preview * {
    visibility: visible;
    border: none;
  }

  .cv-preview {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
