form {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 0.625rem;
  padding: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

label,
input,
h1 {
  color: oklch(0.145 0 0);
}

label {
  margin-bottom: 8px;
}

form > h1 {
  margin-bottom: 16px;
}

form > div {
  margin-bottom: 16px;
}

input {
  background-color: #f3f3f5;
  width: 100%;
  padding: 8px 16px;
  border-radius: 0.625rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 8px;
  font-weight: 500;
}

.general-heading p {
  font-size: 16px;
  color: #717182;
  margin-bottom: 24px;
}

.submit-btn {
  background-color: #030213;
  border-radius: 0.625rem;
  padding: 8px 16px;
  height: 40px;
}

.edit-btn {
  background-color: #00ff37;
  border-radius: 0.625rem;
  padding: 8px 16px;
  height: 40px;
}

.inactive {
  opacity: 0.5;
}

.general-container {
  margin-bottom: 24px;
}
