@font-face {
  font-family: 'General Sans';
  src: url('./assets/fonts/GeneralSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('assets/fonts/GeneralSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'General Sans';
  font-weight: 500;
}

button,
input {
  font: inherit;
  border: none;
  outline: none;
  background: none;
  color: inherit;
}

button {
  cursor: pointer;
}

img,
label {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100vh;
}
